<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.brixelectronics.sly.monitor</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/brixelectronics/Documents/mac/sly/target/release/sly-monitor</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/brixelectronics/Documents/mac/sly</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/sly_monitor.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/sly_monitor.err</string>
</dict>
</plist>
